Welcome to the Intramural Sports Network, <%= @user %>!
===============================================
 
You have successfully signed up to ISN.com.
 
To login to the site, just follow this (empty) link: <a href="">Empty Link</a>.
 
Thanks for joining and have a great day!