<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user %></h1>
    <p>
      You've been invited to join the <%= @team.name %> on the Intramural Sports Network!
    </p>
    <p>
      Please follow the link below and use the following team code. <br><br>
      Team Code: <%= @team.hex_id %>
    </p>
    <a href="https://sheltered-inlet-5398.herokuapp.com/">Join Team</a>
  </body>
</html>