<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user %></h1>
    <p>
      You have been invited to join a team! Follow this empty link to join!.
    </p>
    <a href="http://www.google.com">Empty Link</a>
  </body>
</html>