<div class="nav_bar">
  <div class="free_agnt_container">
    <div class="free_agnt">Free Agnt</div>
  </div>
  <div class="icons">
    <div class="posts_icon">
    <%= link_to('Posts', posts_path, :method => :get) %>
    </div>
    <div class="user_icon_container">
      <img class="user_icon" src="http://icons.iconarchive.com/icons/icons8/android/512/Sports-Football-icon.png">
    </div>
    <div class="expand_icon_container">
      <img class="expand_icon" src="http://www.siesascs.edu.in/images/expand-icon.png">
    </div>
  </div>
</div>