<div class="nav_bar">
  <div class="free_agnt_container">
    <div class="free_agnt">Free Agnt</div>
  </div>
  <div class="icons">
    <div class="posts_icon">
    <%= link_to('Posts', posts_path, :method => :get) %>
    </div>
    <div class="expand_icon_container">
      <img class="expand_icon" src="http://oi59.tinypic.com/fkqsjm.jpg">
    </div>
  </div>
</div>