/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ../../../vendor/assets/stylesheets/.
 *= require_tree .
 *= require_self
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
 */
@import "bootstrap";
/* Some Style from the Bootstrap Default Theme */
body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

/*NAVAGATION BAR*/

.nav_bar {
  position: absolute;
  width: 100%;
  min-height: 50px;
  top: 0;
  left: 0;
  background-color: #aaa;
  display: inline-block;
}

.icons {
  float: right;
  display: inline-block;
}

.user_icon_container {
  float: right;
  margin: 10px 10px 0px 0px;
}

.expand_icon_container {
  float: left;
  margin: 25px 10px 0px 0px;
}

.nav_bar .user_icon { 
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border:1px solid #000;
}

.nav_bar .expand_icon {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border:1px solid #000;
}

/*NAVAGATION BAR DROPDOWN USER TEAMS*/

.nav_dropdown {
  display: none;
  float: right;
  border: 1px solid #000;
  margin-right: 10px;
}

.nav_tile {
  border: 1px solid #000;
  padding: 5px;
}

/*USER SHOW PAGE*/

#team_create_form, #join_team_form {
  display: none;
}
#team_create_form_button,  #join_team_form_button{
  background-color: black;
  border: 1px solid #333;
  color: white;
  width: 150px;
  margin-top: 20px;
}
.hidden {
  display: none;
}

.selected {
  background-color: white;
}

.not_selected {
  background-color: none;
}