/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ../../../vendor/assets/stylesheets/.
 *= require_tree .
 *= require_self
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
 */
@import "bootstrap";
/* Some Style from the Bootstrap Default Theme */
body {
  padding-top: 0px;
  padding-bottom: 0px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

/*USER SHOW PAGE*/

#team_create_form, #join_team_form {
  display: none;
}
#team_create_form_button,  #join_team_form_button{
  background-color: black;
  border: 1px solid #333;
  color: white;
  width: 150px;
  margin-top: 20px;
}
.hidden {
  display: none;
}

.selected {
  background-color: white;
}

.not_selected {
  background-color: none;
}

/*CALENDAR */

.calendar_container {
  /*margin-top: 20px;*/
}

.day {
  border: 1px solid black
}

.create_edit_vacate_games, .attending_container{
  padding: 20px;
  margin: 20px;
  background-color: #aaa;
  max-width: 200px;
  border: 1px solid black;
  display: none;
}

.create_game_form, .hidden_team_id {
  display: none;
}

.create_game_button {
  background-color: white;
  border: 1px solid black;
  text-align: center;
}

.game_attendance {
  background-color: #98FB98;
  border: 1px solid #21a521;
  margin-top: 5px;
}

.attending {
  background-color: #98FB98;
  border: 1px solid black;
}

.not_attending {
  background-color: #FF3030;
  margin-top: 5px;
  border: 1px solid black;
}

.games_not_attending_game_info {
 /* display: none;*/
}
