.nav_bar {
  position: absolute;
  width: 100%;
  min-height: 50px;
  top: 0;
  left: 0;
  background-color: #2e3848;
  display: inline-block;
}

.posts_icon {
  float: left;
}

.icons {
  float: right;
  display: inline-block;
}

.user_icon_container {
  float: right;
  margin: 10px 10px 0px 0px;
}

.expand_icon_container {
  float: left;
  margin: 25px 10px 0px 0px;
}

.nav_bar .user_icon { 
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border:1px solid #000;
}

.nav_bar .expand_icon {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border:1px solid #000;
}

.nav_dropdown {
  display: none;
  float: right;
  border: 1px solid #000;
  margin-right: 10px;
}

.nav_tile {
  border: 1px solid #000;
  padding: 5px;
}

.user_container  h1{
 margin-top: 20px;
}