#login_img {
  position: fixed; 
  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
}

.login_page_container {
  padding-left: 15px;
  position: absolute;
  height: 100vh;
  width: 100vw
}

.signup_page_container {
  padding-left: 20px;
  position: absolute;
  height: 100vh;
  width: 100vh;
}

#header1 {
  border: 40px;
  color:white;
}

#signup_button {
  color: black;
  border-radius: 10px;
}

img {
  position: fixed;
  top: 0; 
  left: 0; 
  height: 100vh;
  width: 100%;
}

#white_label {
  color:white;
}

em {
  color:white;
}

#user_name, #user_age, #user_height, #user_weight, #user_bio, #user_email, #user_password, #user_password_confirmation {
  color:black;
}