#login_img {
  position: fixed; 
  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
}

.login_page_container {
  padding-left: 15px;
  position: absolute;
  height: 100vh;
  width: 100vw
}

.user_container, .team_container {
  margin-top: 50px;
  width: 100%;
  min-height: 150px;
  display: inline-block;
  background: linear-gradient( rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35) ), url("http://oi62.tinypic.com/4lfzb9.jpg") no-repeat;
  background-size: 100%;
}

.join_create_team_container {
  float: right;
}

.user_name_container {
  float: left;
  margin-left: 50px;
  height: 100%;
  margin-top: 1%;
  color: white;
}

.user_name {
  font-size: 60px;
}

/*JOIN TEAM AND CREATE TEAM BUTTONS*/

#team_create_form_button,  #join_team_form_button{
  color: white;
  width: 150px;
  height: 40px;
  margin-top: 20px;
  margin-right: 50px;
  border-radius: 5%;
  font-size: 25px;
  text-align: center;
}

#join_team_form_button {
  background-color: #2e3848;
}

#team_create_form_button {
  background-color: #00e4b4
}


 /*JUNK FROM FORMER CSS PAGE*/
 #team_create_form, #join_team_form {
  display: none;
}
.hidden {
  display: none;
}

.selected {
  background-color: white;
}

.not_selected {
  background-color: none;
}

/*CALENDAR */

.calendar_container {
  width: 100%;
}

td {
  border: 10px solid #fff;
}

.create_edit_vacate_games{
  margin: -2% 0% 0% 2.5%;
  background-color: #aaa;
  max-width: 100px;
  border: 1px solid black;
  display: none;
  position: fixed;
}

.cal_create_game{
  padding: 20px;
  margin: 20px;
  background-color: #f3f3f3;
  max-width: 300px;
  border: 5px solid #00e4b4;
  display: none;
  box-shadow: 10px 5px 5px #999;
}

.attending_container, .games_not_attending_game_info {
  border: 1px solid #98FB98;
  background-color: white;
  display: none;
}

.create_game_form, .hidden_team_id {
  display: none;
}

.create_game_button {
  background-color: white;
  border: 1px solid black;
  text-align: center;
}

.game_attendance {
  background-color: inherit;
  border: 1px solid inherit;
  margin-top: 5px;
}

.attending {
  background-color: #98FB98;
  border: 1px solid black;
}

.not_attending {
  background-color: inherit;
}

.calendar_game_info {
  display: none;
}

.calendar {
  width: 100%;
  text-align: center;
}

.calendar table{
  width: 90%;
  margin-left: 5%;
}

.calendar th {
  text-align: center
}

.calendar-header {
  font-size: 40px;
}

td.day {
  height: 150px;
  width: 200px;
}

.day {
  background-color: #f2f2f2;
}

.today {
  background-color: #fff;
  box-shadow:0px 0px 0px 5px #2e64bb inset !important;
}

.has-events {
  box-shadow:0px 0px 0px 5px #00e4b4 inset;
}

.past {
  background-color: #d5d5d5;
}

thead tr th, .calendar-header a {
  color: #949494;
  margin: 0px 20px;
}

.calendar-header a:hover {
  color: #00e4b4;
}

tbody tr td {
  text-align: left;
}

.cal_date_no_game {
  margin-top: -70px;
  margin-left: 5px;
}

.today .cal_date_no_game{
}

.cal_date {
  margin-top: 10px;
  margin-left: 10px;
}

.today .cal_date {
  margin-left: 10px;
}

.calendar-header {
  margin: 25px 0px;
}

.prev-month, .next-month {
  background-color: #959595;
}

/*ICONS*/

.Soccer, .Basketball, .Volleyball, .Baseball, .Flag_Football, .Dodgeball, .Kickball, .Softball, .Soccerteam_page, .Bowling, .Bowlingteam_page, .Basketballteam_page, .Volleyballteam_page, .Baseballteam_page, .Flag_Footballteam_page, .Dodgeballteam_page, .Kickballteam_page, .Softballteam_page,   {
  height: 30px;
  width: 30px;
  margin-top: 80px;
  margin-bottom: 15px;
  margin-right: 15px;
  float: right;
}
.Soccer_post, .Bowling_post, .Basketball_post, .Volleyball_post, .Baseball_post, .Flag_Football_post, .Dodgeball_post, .Kickball_post, .Softball_post {
  height: 30px;
  width: 30px;
}

.Flag_Football {
  -webkit-transform: rotate(112.5deg); /* Chrome, Safari, Opera */
  width: 35px;
  height: 30px;
}

/* Sign up page */
.signup_img {
  position: fixed;
  top: 0; 
  left: 0; 
  height: 100%;
  width: 100%;
}
/* Sign up page */
.signup_page_container {
  padding-left: 20px;
  position: absolute;
  height: 100vh;
  width: 100vh;
}

/* Sign up page header */
#header1 {
  border: 40px;
  color:white;
}

#signup_button {
  color: black;
  border-radius: 10px;
}
/*text white on sign up page*/
#white_label {
  color:white;
}
/* Password container */
em {
  color:white;
}

#user_name, #user_age, #user_height, #user_weight, #user_bio, #user_email, #user_password, #user_password_confirmation {
  color:black;
}
