#login_img {
  position: fixed; 
  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
}

.login_page_container {
  position: absolute;
  height: 100vh;
  width: 100vw
}

.signup_page_container {
  padding-left: 20px;
  position: absolute;
  height: 100vh;
  width: 100vh;
  color: white;
}

#header1 {
  border: 40px;
}

#signup_button {
  color: black;
  border-radius: 10px;
}

#signin_img {
  position: fixed;
  top: 0; 
  left: 0; 
  height: 100vh;
  width: 100%;
}
